.counterOutWrapper {
    padding: 10px;
    background-color: #172031;
    text-align: center;
}

.counterInWrapper {
    display: inline-block;
    padding: 10px;
    text-align: center;
    border: #0a97f3 solid 2px;
    border-radius: 5px;
}

.displayWrapper {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 220px;
    min-height: 130px;
    text-align: center;
    border: #0a97f3 solid 2px;
    border-radius: 5px;
}

.display {
    color: white;
    font-size: 50px;
    font-weight: 600;
}

.displayMaxValue {
    color: red;
    opacity: 0.5;
}

.buttonWrapper {
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border: #0a97f3 solid 2px;
    border-radius: 5px;
}